<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    xmlns:tools="http://schemas.android.com/tools"
    package="Xamarin.RevenueCatUI.Android.UsageChecker.Xamarin.RevenueCatUI.Android.UsageChecker">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="33" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="merge">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
